@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

}

body {
     
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

header {
      
    height: 170px;
    background-image: url("imagens/fundo\ header\ pequena.jpg");
    
    background-repeat: no-repeat;

}